item/node_modules
item/tmp
item/db/*.sqlite3
item/log
item/.DS_STORE
item/.DS_Store
item/bower_components
item/coverage
item/.byebug_history
product/node_modules
product/tmp
product/db/*.sqlite3
product/log
product/.DS_STORE
product/.DS_Store
product/bower_components
product/coverage
product/.byebug_history
